---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import json from '../data/teamplayer.json';
//console.log(json)
/*
const res = await
fetch('https://alvisbjones.github.io/jsonfiles/teams.json')
const json = await res.json()
console.log(json)
/*
				<table width="100%" >

					{team.players.map(player =>(
						<tr>
							<td>{player.lastName}</td>
							<td>{player.hdcpIndex}</td>
							<td>{player.email}/td>
							<td>{player.phone}</td>
						</tr>
					)
					)}	
				</table>




*/

---

<Layout title="Spring Creek Golf League">
	<main>
		
		<h1><span class=" text-gradient">Spring Creek Golf League</span></h1>
        <div class="navigation"> <Nav/> </div>
       
		<p class="instructions">
			Please send updates for team to : xxx@yyy.com<br />
		</p>

        <ol>
            {json.teams.map(team=> (
                <li>{team.name}</li>
				<table>
					
					{team.players.map(player => (
						<tr>
							<td class ="name">{player.firstName} {player.lastName}</td>
							<td class="hdcp">({player.hdcpIndex})</td>
							<td class="email">{player.email}</td>
							<td class="phone">{player.phone}</td>
						</tr>



					))}

					
				</table>




            ))}
        </ol>
		
		
	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	li {
		padding: 0rem;
		padding-top: .5rem;
	}
	table {
		font-size: 1rem;

	}
	tr {
		padding: 1rem;

	}
	.email {
		padding-left: 1rem;
	}
	.phone {
		padding-left: 1rem;
	}

</style>





